body {
    background-color: #472209;
    height: 900px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 17px;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px;
}

.nav-list__ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-list__text {
    list-style-type: none;
}

.nav-list__text a {
    text-decoration: none;
    color: #fff;
}

.nav-list__text:hover a {
    text-decoration: none;
    color: rgb(185, 128, 20);
}


.navigation {
    display: flex;
    justify-content: space-between;
}

.brone a {
    border: 3px solid rgb(185, 128, 20);
    padding: 13px 30px;
    box-sizing: border-box;
}

.brone:hover a {
    border: 3px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.humb {
    display:  none;
}

@media (max-width: 910px) {
    .nav-list__ul {
        display: none;
    }
    .humb {
        display: block;
    }
}

.container__main {
    max-width: 1560px;
    margin: 0 auto;
    padding: 40px;
}

.afisha__main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.af-block {
    width: 470px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.br1 {
    background-image: url(/page/home/img/pyshk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.br2 {
    background-image: url(/page/home/img/andre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.br3 {
    background-image: url(/page/home/img/lyj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bl-move {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    box-shadow: 0 0 14px 13px rgba(0, 0, 0, 0.7);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
}

.tt1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.af-block:hover {
    .bl-move {
        height: 100%;
        transition: all 0.5s;
    }
}

.afisha__bliznew {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.title {
    font-size: 25px;
    display: block;
    background-color: #5a2b0b;
    width: 223px;
    height: 55px;
    padding: 20px;
    border-radius: 25px 25px 0 0;
}

.img-sors {
    display: flex;
    justify-content: space-around;
    width: 700px;
    background-color: #5a2b0b;
    border-radius: 0 25px 25px 25px;
    padding: 15px;
}

.img-sors img {
    cursor: pointer;
}

.img-sors img {
    transition: transform 0.5s;
}

.img-sors:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 50px 18px rgba(0, 0, 0, 0.7);
}

.new:hover  p{
    color: rgb(238, 179, 70);
    transition: 0.5s;
}
.bliz:hover  p{
    color: rgb(238, 179, 70);
    transition: 0.5s;
}

@media (max-width: 1546px) {
    .af-block {
        width: 700px;
    }
    .afisha__main {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .br3 {
        width: 100%;
    }
    .br1,
    .br2 {
        width: 50%;
    }
}

@media (max-width: 1514px) {
    .afisha__bliznew {
        flex-wrap: wrap;
        justify-content: center;
    }
    .img-sors {
        width: 99%;
    }
    .img-sors img {
        width: 20%;
    }
    .new {
        margin-top: 35px;
    }
}

.scrollable {
    overflow-x: scroll;
    white-space: nowrap;
}
  
.scrollable img {
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
}

.gallery {
    margin-top: 30px;
}

.galh1 {
    font-size: 40px;
}


.contact_info {
    border: none;
}

.form-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.02222em;
    color: #EB3F57;
}

.form-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    margin: 8px 0 70px 0;
}

.form {
    margin-top: 50px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 15px;
    border: none;
}

.label-int {
    margin: 27px 0 15px 0;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1px;
    color: #ffffff;
}

.type-sumb {
    float: right;
    width: 135px;
    height: 40px;
    background: linear-gradient(180deg, #EB3F57 0%, #893944 100%);
    box-shadow: 5px 5px 10px rgba(197, 131, 7, 0.25), 10px 10px 20px rgba(119, 99, 8, 0.5);
    border-radius: 32px;
    color: #fff;
    border: none;
    margin-top: 27px;
    cursor: pointer;
    display: block;
}

.type-sumb:hover {
    background: #EB3F57;
}

.contact_info {
    backdrop-filter: blur(15px);
    width: 85%;
    margin: 0 auto;
    min-height: 570px;
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #5a2b0b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    padding: 40px 36px;
    border-radius: 16px;
    box-sizing: border-box;
    background-image: url(page/home/img/cat.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.content_one {
    width: 656px;
    padding: 30px;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    border-radius: 50px;
}

.two_title {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.02666em;
    color: rgb(238, 179, 70);
}

.content_two {
    width: 364px;
    height: 350px;
    padding-left: 20px;
}

.two_desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgb(238, 179, 70);
    margin-top: 10px;
}

.li_dec li {
    color: rgb(238, 179, 70);
}

.li_dec p {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    line-height: 7px;
}

.li_dec img {
    margin-right: 16px;
}

.zxc {
    margin-left: -6px;
}

.li_dec {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.li_dec li:nth-child(2) {
    margin: 20px 0 17px 0;
}

.img_society {
    display: flex;
    gap: 35px;
    margin-top: 40px;
}

.img_society img {
    display: block;
}

.content_two {
    margin: auto 0;
}

@media (max-width: 702px) {
    .content_two {
        display: none;
    }
    .contact_info {
        background-image: none;
        padding: 5px;
    }
}

.footer {
    margin-top: 137px;
}

.fot-main,
.fot_two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fot_one {
    display: flex;
    gap: 50px;
    padding: 0 50px;
    flex-wrap: wrap;
}

.bord_f {
    border-bottom: 1px solid rgb(160, 153, 153);
}

.fot-main {
    padding: 10px;
    align-items: center;
}

.fot_two {
    padding: 5px;
}

.fot_one p:hover {
    color: #EB3F57;
}

.fot_one p {
    cursor: pointer;
}

